body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
  }
  #navbar {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #navbar h2 {
    margin-bottom: 20px;
  }
  .navlink {
    color: white;
    text-decoration: red;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
  }
  .nav-link:hover {
  background-color: #575757;
  }
  #main-doc {
    margin-left: 260px;
    padding: 20px;
    flex: 1;
  }
  .main-section {
    margin-bottom: 40px;
  }
  .main-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  @media (max-width: 600px) {
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    nav a {
      display: block;
      margin: 5px 0;
    }
  
    .main-section {
      margin: 10px;
      padding: 5px;
    }
  }